// Font Size
$FONT_10: 10px;
$FONT_12: 12px;
$FONT_14: 14px;
$FONT_16: 16px;
$FONT_18: 18px;
$FONT_20: 20px;
$FONT_22: 22px;
$FONT_24: 24px;
$FONT_28: 28px;
$FONT_30: 30px;


// BACKGROUND-COLOR
$BG-WHITE: #ffffff;
$BG-BLACK: #000000;
$BG-LIGHT-BLACK:#242424;
$BG-LIGHT-GREEN: #15ec88;
$BG-BUTTON-GREEN: #10ff8d;
$BG-GRAY: #858687;
$BG-BRIGHT-RED: #f0383e;
$BG-YELLOW: #ffae00;


// TEXT-COLOR
$TEXT_FLAME: #ea5825;
$TEXT-WHITE: #ffffff;
$TEXT-BLACK: #000000;
$TEXT-SILVER-SAND:#c1c2c2;
$TEXT-LIGHT-GREEN: #8bd646;
$TEXT-GRAY: #858687;
$TEXT-RED: #cd2b2b;

